
<h1>Welcome to Eat With Me</h1>


<div class="buttons">
<%= link_to "HOST an event", {controller:'hosts', action:'new'}, method: 'get', class: 'btn btn-large btn-info' %>
<%= link_to "be a GUEST at an event", {controller:'guests', action:'new'}, method: 'get', class: 'btn btn-large btn-warning' %>
</div>
