
<h1>Welcome to Nom Together</h1>

<img src="/assets/logo1.png" />
<div class="buttons">
<%= link_to "HOST it", {controller:'hosts', action:'new'}, method: 'get', class: 'btn btn-large btn-info' %>
<%= link_to "GUEST it", {controller:'guests', action:'new'}, method: 'get', class: 'btn btn-large btn-info' %>
</div>
