// Place all the styles related to the hosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#host_email, input#host_number_of_guests, input#guest_email{
		font-size: 25px;
		height: 50px;
		line-height: 25px;
		width: 500px;
	

}
