// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { 
background: url('background-comp.jpg') no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
font-family: 'Lobster Two', cursive;
font-weight: 200;
}
body{
	padding-left: 0px;
	overflow-x: hidden;
	position: absolute;
	background-color: transparent;
	width: 100%;
font-family: 'Lobster Two', cursive;

}

.hero-unit{
	 background: rgba(25, 25, 40, .5);
	 margin: 0px auto;
	 padding: 0px;
}
.container{
	 	margin-top: 0px auto;
	 		width: 50%;
	 		height: 50%;
	   	text-align: center;
	  
		.social{
			 margin-top: 20px;
			 line-height: 18px;
			 
			.twitter-share-button {
				margin-left: -1.6%;
			}
			.fb-like{
				margin-left: 1.5%;
			}		
		}
			
			#nom_text {
				margin: 0px auto;
				width: 90%;
				h2{
						font-size: 2.4em;
				}
			}
			
			form {
				margin-top: 10%;
			}
			
			#logo {
			
				width: 80%;
			}
}



.buttons{
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 40px;
a:hover{
text-decoration: none;
}
a:visited {
color: white;
 }
  .btn {
  		  	
		  margin-left: 40px;
 			font-size: 2.4em;
 }

}

h1, h2, h3, p {
	color: white;
	}

.photo-tag {
	position: fixed;
	bottom: 10px;
	right: 20px;
	color: white;
	a {
		color: white;
			font-size: 1.5em;
	}
}
