// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	margin-top: 101px;
}
.hero-unit{
   text-align:center;
}
.buttons{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 40px;
	.btn {
	
		margin-left: 40px;
	}
}
