// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding-left: 0px;
	overflow: hidden;

}
.container{
	margin-top: 0px;
	width: 100%;
	text-align: center;
}

.hero-unit{
   text-align:center;
  img {
	width: 900px;
  }
}
.buttons{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 40px;
	a:visited {
		color: white;
	}
	.btn {
		font-size: 30px;
		margin-left: 40px;
	}
}
