<!DOCTYPE html>
<html>
  <head>
    <title>Nom Together</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33077748-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class ="container">
        <%= yield %>
    </div>
	<div class="photo-tag">
	<a href="http://www.flickr.com/photos/emilygoodstein/5603923265/sizes/l/in/photostream/"> Photo URL </a>
	</div>
</body>
</html>
